.nav-tabs .nav-link{border: 1px solid #e5e5e5 !important;}
.nav-tabs .nav-link:hover{background-color: #6ab5b4; color: #fff !important;}
.nav-tabs .nav-link.active{background-color: #6ab5b4; color: #fff !important;}

.nav-link-tab.active {
    color: #6ab5b4;
}

.nav-tabs .nav-link-tab.active {
    background-color: #6ab5b4;
    color: #fff !important;
}


.nav-tabs .nav-link-tab {
    border: 1px solid #e5e5e5 !important;
}

.nav-tabs .nav-link-tab {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-link-tab {
    display: block;
    padding: 0.5rem 1.125rem;
}


.pr{float: right;}
.btn-close
{
    border: none;
    background: transparent;
    font-size: 20px;
    color: #6e7073;
}